@page
@model Team6.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>
        <a asp-page="/Account/Login">Login</a> or 
        <a asp-page="/Account/Register">Register</a>
    </p>
</div> 