@page
@model FAQModel

<style>


header {
  background-color: #746969;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}


footer {
  background-color: #746969;
  padding: 120px;
  text-align: center;
  color: white;
</style>        

<header>Frequently asked Questions </header>
<!--List of all questions with thier awsners -->
<h2>How does dark mode work?</h2>
<p>Dark mode is automatically synced with your system settings. if your device is set to dark mode, the application will match your system preference. To change it, adjust your device's display settings, and the application will update automatically.</p>

<h2>How can I view my reflections?</h2>
<p>You can view your reflections by navigating to the "Reflections" tab on the column above. Here you will find a list of all of your saved reflections. Click on any entry to view or edit it</p>

<h2>How do I manage events in the calendar?</h2>
<p>To manage events, go to the "Calendar" tab on the column above. You can click on any date to add an event, specifying details like title, time, and description. To edit or delete an event, simply click on the event in the calendar view</p>

<h2>Can I print or export my calendar?</h2>
<p>Yes, you can print your calndar. In the "Calendar" tab, click the "Options" button and select "Print calendar." this will open a printable view that you can save as a PDF directly.</p>

<h2>What should I do if I forget my login details?</h2>
<p>If you forget your login details, click on the "Forget Password" link on the login page. Enter your registered email adress, and then there will be instructions on how to reset your password.</p>

<footer></footer>
