<NavMenu>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/pdf-uploader">PDF Uploader</NavLink></li>
    </ul>
</NavMenu>

<style>
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin: 0.5rem 0;
    }
    NavLink {
        text-decoration: none;
        color: black;
    }
    NavLink.active {
        font-weight: bold;
    }
</style>
